/*--------------------------------------------------------------------------+
|                                                                           |
|       Copyright (c) 1992 by Info Tech, Inc.  All Rights Reserved.         |
|                                                                           |
|       This program module is part of DS/Shell (PC), Info Tech's           |
|       database interfaces for OS/2, a proprietary product of              |
|       Info Tech, Inc., no part of which may be reproduced or              |
|       transmitted in any form or by any means, electronic,                |
|       mechanical, or otherwise, including photocopying and recording      |
|       or in connection with any information storage or retrieval          |
|       system, without permission in writing from Info Tech, Inc.          |
|                                                                           |
+--------------------------------------------------------------------------*/


/*
 * DSShell.rc
 * Mark Hampton
 */

#include "..\include\iti.h"
#include "DSShell.h"
#include "..\include\itimenu.h"
#include "..\include\dialog.h"
#include "dialog.h"

rcinclude metadata.rc

ICON DSSHELL_ICON LOADONCALL DSShell.ico


/* include the default main menu resource */
#include "Menu.h"

#ifdef DEBUG
rcinclude dbmenu.rc
#else
rcinclude mainmenu.rc
#endif

/* include the default keyboard accelerators */
rcinclude accel.rc

/* include the help resources */
#include "help.h"
rcinclude help.rc

rcinclude dsshell.dlg


